body{
    background-color: #00594c;
    font-family: 'Georgia', sans-serif;
    color: white;
}
.form-container {
    color: black;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-family: 'Georgia', sans-serif;
}
.form-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.form-group label {
    width: 150px;
    margin-right: 10px;
    margin-left: 20px;
}
.form-group input, .form-group select {
    flex: 1;
    padding: 8px;
    box-sizing: border-box;
}
.radio-group, .checkbox-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.form-group .checkbox-group {
    flex-direction: column;
}
.submit-btn {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
fieldset{
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Georgia', sans-serif;
}
.field1{
    width: 48%;
    font-family: 'Georgia', sans-serif;
}
.field2{
    width: 100%;
}
.boton{
    font-family: 'Georgia', sans-serif;
    font-size: 20px;
    height:50px;
    width:100px;
}
div{
    padding: 5px;
}
input.checkbox {
    margin-top: 20px;
}
h4{
    margin-top: 50px;
}
.observador{
    margin-top: 20px;
    margin-left: 10px;
}
select[multiple] {
    height: 30px;
    vertical-align: top;
}
select[multiple]:focus,
select[multiple]:active {
    height: auto;
}
input.radio{
    font-family: Calibri, sans-serif;
}
footer{
    font-family: Calibri, sans-serif;
}
.line{
    margin-left: -50px;
}
.loader{
    text-align: center; 
    max-width: 338px; 
    margin: auto; 
    margin-top: 10px;
}
